<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>Registro</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <nav>
        <%- include('../partials/header') %>
    </nav>

    <body>

    <main class="registerMain">
        <div class="register">REGISTRATE</div>
        
<!-- ///////////////////////////      MIDDLEWARE VALIDACION AVANZADA       ///////////////////////////////  -->
<!--//////////////////////////////////////NO SE USA DE MOMENTO /////////////////////////////////////////////-->


<!--//////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <form class="fform" action="/register" method="POST"  enctype="multipart/form-data">

            <div class="form1">
                <div>
                    <label for="firstName" ></label>
                    <input class="registerCuadros" type="text" name="firstName" id="firstName" placeholder="Nombre" value="<%= locals.old && old.firstName ? old.firstName : '' %>" required>
                </div>

                <div>
                    <label for="lastName" ></label>
                    <input class="registerCuadros" type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : '' %>"required>
                </div>

            </div>
            <% if(locals.errors && errors.firstName){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="alineadoErrorPassword"><%= errors.firstName.msg %></p>
             <% } %>  

             <% if(locals.errors && errors.lastName){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
             <p  class="alineadoErrorPassword"><%= errors.lastName.msg %></p>
              <% } %>  
            <div>
                <label for="email" ></label>
                <input class="form2" type="email" name="email" id="email" placeholder="Correo" value="<%= locals.old && old.email ? old.email : '' %>" required>
                 <% if(locals.usuarioLogeado){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
                <p  class="alineadoErrorLoggeado"><%= usuarioLogeado %></p>
                 <% } %>  

            </div>


            <div class="form1">
                <div>
                    <label for="age" ></label>
                    <input class="registerCuadros" type="number" name="age" id="age" placeholder="Edad" value="<%= locals.old && old.age ? old.age : '' %>" required>
                </div>
    
                <div>
                    <label for="numberCel" ></label>
                    <input class="registerCuadros" type="number" name="numberCel" id="numberCel" placeholder="Numero de telefono" value="<%= locals.old && old.numberCel ? old.numberCel : '' %>" required>
                </div>
            </div>
            
            <div class="form1">
                <div>
                    <label for="password" ></label>
                    <input class="registerCuadros"type="password" name="password" id="password" placeholder="Contraseña"  required>
                </div>
    
                <div>
                    <label for="password2" ></label>
                    <input class="registerCuadros"type="password" name="password2" id="password2" placeholder="Confirma contraseña" required>
                </div>    
            </div>
            <% if(locals.paswordIncorrecto){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="alineadoErrorPassword"><%= paswordIncorrecto %></p>
             <% } %>

             
             <% if(locals.errors && errors.password){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
             <p  class="alineadoErrorPassword"><%= errors.password.msg %></p>
              <% } %>  



            <h3 class="alineado">Selecciona la foto de perfil</h3>
            <div>
                <label for="profilePhoto" ></label>
                <input class="form2" type="file" name="profile_photo" id="profile_photo" placeholder="Foto de perfil" value="<%= locals.old && old.profile_photo ? old.profile_photo : '' %>" required>
            </div>

            <% if(locals.errors && errors.profile_photo){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="alineadoErrorPassword"><%= errors.profile_photo.msg %></p>
             <% } %> 


            <div class="boton"> 
                <button class="bbutton" type="submit">Resgistrate</button>
            </div>

            <div class="inicio"><a class="aa" href="/login">Iniciar sesion</a></div>
        </form>
    </main>

    </body>

    <%- include('../partials/footer') %>
    
</html>