<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    
  <main> 
        <ul><li class= "index_titulares"> Lo mas nuevo!!! </p></li></ul>


    <section class="index_section_1">
        <article class="index_productos_tren">
            <div class="index_productos_principales"><img width="80%" src="/images/teni_nike_2.png" alt=""></div>
                <div class="index_informacion_de_producto">    
                        <p class= "index_precios">$24.00 Dlls</p>
                        <p class= "index_descripciones">Tennis NIKE </p> <br>
                </div>
        </article>

    </section>
        <ul><li class= "index_titulares"> Categorias</li></ul>
    <section class="index_section_2">

        <% for (let categoria of categorias) { %>
            <article class="index_productos">
                <figure class="index_imagen_producto"><a href="/products/<%= categoria.categoria%>"><p class ="imagenes-box"> <img width="80%" src="/images/<%=categoria.imgcat%>" alt=""></p></a></figure>
                    <div class="index_informacion_de_producto"> 
                            <p class= "index_descripciones"><%= categoria.categoria%></p> <br>
                    </div>
            </article>
        <% } %>
        <!--
        <article class="index_productos">
            <figure class="index_imagen_producto"><a href="/productos"><p class ="imagenes-box"> <img width="80%" src="/images/futbol.jpg" alt=""></p></a></figure>
                <div class="index_informacion_de_producto"> 
                        <p class= "index_descripciones">Futbol</p> <br>
                </div>
        </article>

        <article class="index_productos">
            <div class="index_imagen_producto"><a href="/productos"><p class ="imagenes-box"> <img width="80%" src="/images/basquetbol.jpg" alt=""></p></a></div>
                <div class="index_informacion_de_producto">
                        <p class= "index_descripciones">Basquetbol</p> <br>
                </div>
        </article>

        <article class="index_productos">
            <div class="index_imagen_producto"><a href="/productos"><p class ="imagenes-box"></p><img width="80%" src="/images/beisbol.jpg" alt=""></p></a></div>
                <div class="index_informacion_de_producto">
                        <p class= "index_descripciones">Beisbol</p> <br>
                </div>
        </article>
        
        <article class="index_productos">
            <div class="index_imagen_producto"><a href="/productos"><p class ="imagenes-box"></p><img width="80%" src="/images/f_americano.jpg" alt=""></p></a></div>
                <div class="index_informacion_de_producto">
                        <p class= "index_descripciones">  Futbol Americano</p> <br>        
                </div>
        </article>
        -->
        <br>

    </section>
  </main>
  
  <%- include('../partials/footer') %>

</body>
</html>