<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>Crear producto</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productCreate.css">
    </head>

    <nav>
        <%- include('../partials/header') %>
    </nav>

    <body>

    <main class="editProductMain">
        <div class="register">EDITAR PRODUCTO</div>
        
        <form action="/products/edit/<%= old.id %>" method="POST"  enctype="multipart/form-data"> 

            <div>
                <input class="formu_individual" type="text" name="name" id="name" placeholder="Nombre del producto" value="<%= locals.old && old.name ? old.name : '' %>" required>
            </div>

            <% if(locals.errors && errors.name){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="createProductError"><%= errors.name.msg %></p>
             <% } %> 

           
            <div class="seleccion">
                <span class="rectangulos">
                    <div>
                        <h3>Categoria</h3> 
                    </div>
                         <div>
                            <label >
                                <select name="deporte">
                                    <optgroup label="Deportes">
                                        <% for (let genero of generos) { %> 
                                        <option value="<%= genero.id %>"><%= genero.nombre %></option> 
                                        <% } %>
                                    </optgroup>

                                </select>   
                            </label> 
                        </div>
                </span>
                <!--<input class="formu" type="text" name="CategoryProductNew" id="CategoryProductNew" placeholder="Categoria" required>-->
                <span class="rectangulos">
                    <div>
                        <h3> Tipo de producto</h3>
                    </div>  
                    <div>                
                        <label for="CategoryProductNew" class=selector_tipo>
                            <input type="radio" name="CategoryProductNew" >Vestuario
                            <input type="radio" name="CategoryProductNew" >Equipo
                        </label>
                    </div>  
                </span>
           
            </div>



            <div class="form1">
                <div>
                    <label for="price" ></label>
                    <input class="formu"type="text" name="price" id="price" placeholder="price"  value="<%= locals.old && old.price ? old.price : '' %>" required>
                </div>
    
                <div>
                    <label for="discount" ></label>
                    <input class="formu"type="text" name="discount" id="discount" placeholder="discount" value="<%= locals.old && old.discount ? old.discount : '' %>" required>
                </div>    

                <div>
                    <label for="cantidad" ></label>
                    <input class="formu"type="text" name="cantidad" id="cantidad" placeholder="Cantidad" value="<%= locals.old && old.cantidad ? old.cantidad : '' %>" required>
                </div>  
            </div>

            <% if(locals.errors && errors.price){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="createProductError"><%= errors.price.msg %></p>
             <% } %> 

             
            <% if(locals.errors && errors.discount){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="createProductError"><%= errors.discount.msg %></p>
             <% } %> 

             
            <% if(locals.errors && errors.cantidad){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="createProductError"><%= errors.cantidad.msg %></p>
             <% } %> 

            <div>
                <label for="image" ></label>
                <input class="formu_individual" type="file" name="image" id="image" placeholder="Imagen del producto" required>
            </div>    
            
            <% if(locals.errors && errors.imagen){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="createProductError"><%= errors.imagen.msg %></p>
             <% } %> 

            <div>
                <label for="description" ></label>
                <p><textarea class="formu_description"type="text" name="description" id="description" placeholder="Descripcion" value="<%= locals.old && old.description ? old.description : '' %>"  required style="width: 45vw;height: 47vw;padding: 2vw;font-size: 1.4em;font-family: auto;"></textarea></p>
            </div>    

            <% if(locals.errors && errors.description){ %>  <!-- Si la variable "usuarioLogeado viene vacia, NO ENTRA"-->
            <p  class="createProductError"><%= errors.description.msg %></p>
             <% } %> 


            <div class=boton_Crear>
                <button class="createProductButton"  type="submit">Editar</button> 
            </div>

        </form>
    </main>

    </body>

    <%- include('../partials/footer') %>
    
</html>