<!DOCTYPE html>
<html lang="en">

 
    <%- include('../partials/head') %>

    
<body>
    <%- include('../partials/header') %>
    
  <main> 
        <ul><li class= "titulares"> Lo mejor en equipos</p></li></ul>

        <section class="section_1">
        


                <% for (let i=0; i < productos.length ; i++) { %> 			 <!--  SE LEEN TODOS LOS PRODUCTOS QUE ESTAN EN EL productsDataBase.JSON -->

                  <article class="productos">
                    <a href="/productDetail">
                         <div class="imagen_producto"><img width="80%" src="/images/products/<%= productos[i].image %>" alt=""></div>
                             <div class="informacion_de_producto"> 
                                 <i class="fas fa-shopping-basket"></i> 
                                    <div>
                                        <h2 class= "precios"> $<%= productos[i].price %></h2>
                                        <span class="descuentos"><%= productos[i].discount %>% OFF</span>
                                    </div>
                                     <p class= "nombre-producto"><%= productos[i].name %></p> <br>
                             </div>
                         </a>
                    </article>
                 <% } %>

       </section>



                    <ul><li class= "titulares"> Ofertas</li></ul>
    <section class="section_2">
        
        <% for (let i=0; i < productos.length ; i++) { %> 			 <!--  SE LEEN TODOS LOS PRODUCTOS QUE ESTAN EN EL productsDataBase.JSON -->

            <article class="productos">
              <a href="/productDetail">
                   <div class="imagen_producto"><img width="80%" src="/public/images/products/<%= productos[i].image %>" alt=""></div>
                       <div class="informacion_de_producto"> 
                           <i class="fas fa-shopping-basket"></i> 
                              <div>
                                  <h2 class= "precios"> $<%= productos[i].price %></h2>
                                  <span class="descuentos"><%= productos[i].discount %>% OFF</span>
                              </div>
                               <p class= "nombre-producto"><%= productos[i].name %></p> <br>
                       </div>
                   </a>
              </article>
           <% } %>

    </section>
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>