<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>



<body>

    <%- include('../partials/header') %>
    
  <main> 

    <section class="articulos">
        <div><title2>Articulos(#)</title2></div>

<!-- NOTA IMPORTANTE!! LLegan dos variables para mostrar en el carrito, son: "informacion" y "productos". Llegan del controlador "productController" - ProductCar-->
<!-- "informacion" trae toda la informacion de la tabla del carrito del usuario y...-->
<!-- "productos" trae todos los productos de la base de datos para despues buscar unicamente el que trae la informacion-->


    </section>
    <% let total = 0;
        let totalProducto = 0; %> 
    <% for (let carrito of informacion) { %> 			 <!--  SE LEEN TODOS LOS PRODUCTOS QUE ESTAN EN EL CARRITO -->
       
        <section class="detalles">
        
        <div class="centro">
        <div class="des">
            
            <div><h3>Articulo</h3></div>
            <div><h3>Nombre del producto </h3></div>
            <div><h3>Precio </h3></div>
            <div><h3>Cantidad </h3></div>
            <div><h3>Total</h3></div>
       
    </div>
        <div class="in">
            <div class="carro-ventas-imagen"> 
                <img  src="images/products/<%= productos[carrito.producto_id].image  %>" alt="Cuadro" class="cuadroVacio"> 
            </div>
            <div class="carro-ventas-nombre"><h3><p><%= productos[carrito.producto_id].name  %></p> </h3></div>
            <div class="cantidad"><input type="number" name="Precio" placeholder="$<%= productos[carrito.producto_id].price %>"></div>
            <div class="cantidad"><i class="fas fa-search-minus"></i><input type="number" name="Cantidad" placeholder="<%= carrito.cantidad %>"><i  class="fas fa-search-plus"></i></div>
            
            <% totalProducto = carrito.cantidad * productos[carrito.producto_id].price %>  <!-- Se hace la multiplicacion primero, precio por cantidad-->
            <div class="cantidad"><input type="number"name="Total" placeholder="$<%= totalProducto %>"> </div>
            <% total = total + totalProducto %>
        </div>
        </div>
        
    </section>
    <% } %>
    
            <div class="ultimo">
                <h3>Resumen</h3>
                <div class="ult">
                <div>Total</div>
                <div><input type="text" placeholder="$<%= total%>"></div>
                <div class="btPagar"><input type="button" name="Pagar" value="PAGAR"></div>
                </div>
            </div>
         
    
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>