<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>



<body>

    <%- include('../partials/header') %>
    
  <main> 

    <section class="articulos">
        <div><title2>Articulos(#)</title2></div>

<!-- NOTA IMPORTANTE!! LLegan dos variables para mostrar en el carrito, son: "informacion" y "productos". Llegan del controlador "productController" - ProductCar-->
<!-- "informacion" trae toda la informacion de la tabla del carrito del usuario y...-->
<!-- "productos" trae todos los productos de la base de datos para despues buscar unicamente el que trae la informacion-->


    </section>
    <% let total = 0;
        let totalProducto = 0; %> 
    <% for (let productosAll of productos) { %> 			 <!--  SE LEEN TODOS LOS PRODUCTOS QUE ESTAN EN EL CARRITO -->
            
        <% for (let carrito of informacion) { %> 

            <% if(productosAll.id == carrito.producto_id) { %> 
                                <section class="detalles">
                                
                                <div class="centro">
                                <div class="des">
                                    
                                    <div><h3>Articulo</h3></div>
                                    <div><h3>Nombre del producto </h3></div>
                                    <div><h3>Precio </h3></div>
                                    <div><h3>Cantidad </h3></div>
                                    <div><h3>Total</h3></div>
                            
                            </div>
                                <div class="in">
                                    <div class="carro-ventas-imagen"> 
 

                                        <img  src="images/products/<%= productosAll.image  %>" alt="Cuadro" class="cuadroVacio"> 
                                    </div>
                                    <div class="carro-ventas-nombre"><h3><p><%= productosAll.name  %></p> </h3></div>
                                    <div class="cantidad"><p class="indicadorCAR">$<%= productosAll.price%></p></div>
                                    <div class="cantidad"><p class="indicadorCAR"><%= carrito.cantidad %></p></div>
                                    
                                    <% totalProducto = carrito.cantidad * productosAll.price %>  <!-- Se hace la multiplicacion primero, precio por cantidad-->
                                    <div class="cantidad"><p class="indicadorCAR">$<%= totalProducto %></p> </div>
                                    <% total = total + totalProducto %>
                                </div>
                                <div class=carButtonDeleteDIV>
                                        <button class="carButtonDelete" type="submit"> <a href="/productCart/delete/<%= carrito.id %>">Eliminar</a></button> 
                                </div>
                            </div>
                                
                            </section>
                    <% } %>
        <% } %>
    <% } %>
    
            <div class="ultimo">
                <h5>Resumen</h5>
                <div class="ult">
                <div>Total</div>
                <div><input type="text" placeholder="$<%= total%>"></div>
                <div class="btPagar"><input type="button" name="Pagar" value="PAGAR"></div>
                </div>
            </div>
         
    
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>