<!DOCTYPE html>
<html lang="es-MX">
    
    <%- include('../partials/head') %>

    <nav>
        <%- include('../partials/header') %>
    </nav>

    <body>

    <main class="m2">
        <div class="register">CREAR PRODUCTO</div>
        
        <form action="/products/create" method="POST"  enctype="multipart/form-data"> 

            <div>
                <input class="formu_individual" type="text" name="nameProductoNew" id="nameProductoNew" placeholder="Nombre del producto" required>
            </div>

           
            <div class="seleccion">
                <span class="rectangulos">
                    <div>
                        <h3>Categoria</h3> 
                    </div>
                         <div>
                            <label >
                                <select name="deporte">
                                    <optgroup label="Deportes">
                                        <% for (let genero of generos) { %> 
                                        <option value="<%= genero.id %>"><%= genero.nombre %></option> 
                                        <% } %>
                                    </optgroup>

                                </select>   
                            </label> 
                        </div>
                </span>
                <!--<input class="formu" type="text" name="CategoryProductNew" id="CategoryProductNew" placeholder="Categoria" required>-->
                <span class="rectangulos">
                    <div>
                        <h3> Tipo de producto</h3>
                    </div>  
                    <div>                
                        <label for="CategoryProductNew" class=selector_tipo>
                            <input type="radio" name="CategoryProductNew" >Vestuario
                            <input type="radio" name="CategoryProductNew" >Equipo
                        </label>
                    </div>  
                </span>
           
            </div>



            <div class="form1">
                <div>
                    <label for="precio" ></label>
                    <input class="formu"type="text" name="precio" id="precio" placeholder="Precio" required>
                </div>
    
                <div>
                    <label for="descuento" ></label>
                    <input class="formu"type="text" name="descuento" id="descuento" placeholder="Descuento" required>
                </div>    

                <div>
                    <label for="cantidad" ></label>
                    <input class="formu"type="text" name="cantidad" id="cantidad" placeholder="Cantidad" required>
                </div>  
            </div>

            <div>
                <label for="imagen" ></label>
                <input class="formu_individual" type="file" name="imagen" id="imagen" placeholder="Imagen del producto" required>
            </div>    
            

            <div>
                <label for="descripcion" ></label>
                <input class="formu_description"type="text" name="descripcion" id="descripcion" placeholder="Descripcion" required>
            </div>    
            
            <div class=boton_Crear>
                <button type="submit">Crear</button> 
            </div>

            <div class="inicio"><a href="/login">Iniciar sesion</a></div>
        </form>
    </main>

    </body>

    <%- include('../partials/footer') %>
    
</html>