<!DOCTYPE html>
<html lang="en">

 
    <%- include('../partials/head') %>

    
<body>
    <%- include('../partials/header') %>
    
  <main> 
        <ul><li class= "titulares"> Lo mejor en equipos</p></li></ul>

        <section class="section_1">
        
                <% for (let producto of productos) { %> 			 <!--  SE LEEN TODOS LOS PRODUCTOS QUE ESTAN EN EL productsDataBase.JSON -->

                  <article class="productos">
                    <a href="/products/<%= producto.category %>/<%= producto.id %>">
                         <div class="imagen_producto"><img width="80%" src="/images/products/<%= producto.image %>" alt=""></div>
                             <div class="informacion_de_producto"> 
                                 <i class="fas fa-shopping-basket"></i> 
                                    <div>
                                        <h2 class= "precios"> $<%= producto.price %></h2>
                                        <span class="descuentos"><%= producto.discount %>% OFF</span>
                                    </div>
                                     <p class= "nombre-producto"><%= producto.name %></p> <br>
                             </div>
                         </a>
                    </article>
                <% } %>

       </section>



                    <ul><li class= "titulares"> Ofertas</li></ul>
    <section class="section_2">
        
        <% for (let producto of productos) { %> 			 <!--  SE LEEN TODOS LOS PRODUCTOS QUE ESTAN EN EL productsDataBase.JSON -->

            <article class="productos">
              <a href="/products/<%= producto.category %>/<%= producto.id %>">
                   <div class="imagen_producto"><img width="80%" src="/images/products/<%= producto.image %>" alt=""></div>
                       <div class="informacion_de_producto"> 
                           <i class="fas fa-shopping-basket"></i> 
                              <div>
                                  <h2 class= "precios"> $<%= producto.price %></h2>
                                  <span class="descuentos"><%= producto.discount %>% OFF</span>
                              </div>
                               <p class= "nombre-producto"><%= producto.name %></p> <br>
                       </div>
                   </a>
              </article>
        <% } %>

    </section>
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>