<!DOCTYPE html>
<html lang="en">

 
  <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    
  <main> 
      <section class="s1">
      <div class="principal">
          <div class="imgch">
            <img class src="/images/products/<%= producto.image %>">
          </div>
          
          <div class="imgg">
            <img class src="/images/products/<%= producto.image %>">
          </div>
          <div class="contenido1">
              <p><%= producto.name %></p>
              <p class="categoria"><%= producto.category %></p>
              <p class="precio">$<%= producto.price %></p>
              <br>
              <div class="contenido2">
                <h5>Talla</h5>
                <br>d

               <!--<div id='talla'>
                  <input type='radio' id='CH' name='talla' value='CH' />CH
                  <input type='radio' id='M' name='talla' value='M' />M
                  <input type='radio' id='G' name='talla' value='G' />G 
              </div> --> 

                <div class="alinear">
                  <select name="talla" id="talla">
                    <option value="CH">CH</option>
                    <option value="M" selected>M</option>
                    <option value="G">G</option>   
                  </select>       
                </div>

                <br>
                <div>
                    <span>
                      <input class="btn" type="button" value="Añadir al carrito">
                    </span>
                    <span>
                      <input class="btn" type="button" value="Eliminar">
                    </span> 
                    <span>
                      <input class="btn" type="button" value="Editar">
                    </span> 
                </div>
        
            </div>

          </div>
      </div>
     
    </section>
      <section></section>
      <div class="Descripcion">
          <h3 id="d">Descripcion <%= producto.description %> <i class="fas fa-plus-circle"></i></h3>
         

      </div>
    </section>

    
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>